altgraph==0.17.5
audioread==3.1.0
bottle==0.13.4
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cloudpickle==3.1.2
cython==3.3.0
decorator==5.3.1
idna==3.20
imageio-ffmpeg==0.6.0
joblib==1.6.0
lazy-loader==0.5
librosa==0.11.0
llvmlite==0.47.0
macholib==1.16.4
msgpack==1.2.2
narwhals==2.26.0
numba==0.65.1
numpy==2.4.4
packaging==26.3
platformdirs==4.11.10
pooch==1.9.0
proxy-tools==0.1.0
pycparser==3.0
pyinstaller==6.22.3
pyinstaller-hooks-contrib==2026.7
pyobjc-core==12.2.2
pyobjc-framework-cocoa==12.2.2
pyobjc-framework-quartz==12.2.2
pyobjc-framework-security==12.2.2
pyobjc-framework-uniformtypeidentifiers==12.2.2
pyobjc-framework-webkit==12.2.2
pysptk==1.0.1
pywebview==6.2.1
requests==2.34.2
scikit-learn==1.9.1
scipy==1.17.1
setuptools==80.10.2
soundfile==0.13.1
soxr==1.1.0
threadpoolctl==3.7.0
typing-extensions==4.16.0
urllib3==2.8.0
